<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- شناسه مشتری -->
    <add key="CustomerId" value="millionaire"/>
    
    <!-- تنظیمات دیتابیس مشتری -->
    <add key="DbServer" value="194.5.195.93"/>
    <add key="DbName" value="millionaire"/>
    <add key="DbUser" value="sa"/>
    <add key="DbPassword" value="2901"/>
    
    <!-- برای امنیت بیشتر: رمزنگاری -->
    <add key="EncryptionKey" value="akmalnawabi2026"/>
  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
</configuration>
